@model ServiceDetailsVM
@section Header{
    Service Details
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Details for @Model.Id</h3>
        </div>
        <ul>
    <li>Descrption:@Html.Raw(@Model.Description)</li>
    <li>Status:@(Model.ISDeleted?"Deleted":"Active")</li>
    <li>CreatedAt:@Model.CreatedAt</li>

</ul>
    </div>



</div>


