@model BlogDetailsVM
@section Header {
    Blog Details
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Details for @Model.Id</h3>
        </div>
        <ul>
            <li>Descrption:@Html.Raw(@Model.Description)</li>
            <li>Status:@(Model.ISDeleted ? "Deleted" : "Active")</li>
            <li>CreatedAt:@Model.CreatedAt</li>
            <img src="~/files/images/@Model.ImageName" with="100px;" />

        </ul>
    </div>



</div>




